article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
  display: block

audio, canvas, video
  display: inline-block

audio:not([controls])
  display: none
  height: 0

[hidden]
  display: none

html
  font-family: sans-serif
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

html, body, p, ul, li, h1, h2, h3, h4, h5, img, fieldset, input, textarea, select
  margin: 0
  padding: 0
  border: 0

a
  &:focus
    outline: 0
  &:active, &:hover
    outline: 0

h1
  font-size: 2em

h2
  font-size: 1em

strong
  font-weight: bold

dfn
  font-style: italic

code, kbd, pre, samp
  font-family: monospace, serif
  font-size: 1em

pre
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: "\201C" "\201D" "\2018" "\2019"

small
  font-size: 80%

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  bottom: -0.25em

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

img
  border: 0

legend
  border: 0
  padding: 0

button, input, select, textarea
  font-size: 100%

textarea, input
  outline: none

input
  line-height: normal

ul, ul li
  list-style-type: none
  margin: 0
  padding: 0

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0
