@import 'normalize'

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-color: rgba(61, 61, 61, 1)

footer
  margin: 50px 0 80px
  clear: both
  text-align: center
  font-family: 'Open Sans'
  font-size: 10px
  font-weight: 300
  line-height: 16px
  color: rgba(140, 140, 140, 1)

  a
    display: block
    text-decoration: none
    color: rgba(255, 145, 18, 1)
    font-size: 13px


#box
  // display: table
  width: 100%
  height: 100%

  #box-inner
    // display: table-cell
    height: 100%
    text-align: center
    vertical-align: middle

#example-data
  margin: 0 auto
  width: 680px
  height: 300px
  background-color: rgba(100, 100, 100, 1)

  p
    text-align: right
    font-size: 12px
    a
      color: rgba(255, 145, 18, 1)
      text-decoration: none

h1
  font-family: 'Open Sans'
  font-size: 60pt
  font-weight: 800
  line-height: 240px
  color: rgba(255, 145, 18, 1)

  span
    font-weight: 600
    color: white

p
  width: 680px
  text-align: left
  font-family: 'Open Sans'
  font-weight: 400
  color: rgba(220, 220, 220, 1)
  margin: 20px auto
  line-height: 24px

  span
    color: rgba(255, 145, 18, 1)
    font-weight: 600

code
  pre
    margin: 0 auto
    width: 670px
    background-color: rgba(100, 100, 100, 1)
    color: rgba(190, 190, 190, 1)
    padding: 10px 8px
    font-family: 'Oxygen Mono'
    font-size: 11px
    font-weight: 600

code, pre
  text-align: left

#timesheet
  width: 720px
  height: 292px
  margin: 0 auto

.timesheet
  border-top: 1px solid rgba(250, 250, 250, 0.5)
  background-color: rgba(51, 51, 51, 1)
  position: relative

  .scale
    height: 100%
    position: absolute
    top: 0
    left: 0
    float: left

    section
      float: left
      width: 59px
      text-align: center
      color: rgba(250, 250, 250, 0.8)
      font-family: 'Signika Negative'
      font-size: 13px
      line-height: 24px
      font-weight: lighter
      border-left: 1px dashed rgba(250, 250, 250, 0.2)
      height: 100%

      // &:last-child
        border-right: 1px dashed rgba(250, 250, 250, 0.3)

  .data
    margin: 28px 0 0 0
    padding: 0
    text-align: left
    list-style-type: none
    color: rgba(250, 250, 250, 0.8)
    font-family: 'Signika Negative'
    font-size: 13px
    overflow: hidden

    li
      // background-color: rgba(251, 251, 251, 0.1)
      margin: 0 0 3px 0
      line-height: 22px
      height: 21px
      display: block
      cursor: pointer
      clear: both
      position: relative
      white-space: nowrap

      &:hover
        // background-color: rgba(251, 251, 251, 0.1)
        .bubble
          opacity: 1

      .date
        color: rgba(181, 181, 181, 1)
        font-size: 14px

      .label
        font-weight: lighter
        font-size: 14px
        padding-left: 5px
        line-height: 21px
        color: rgba(151, 151, 150, 1)
        white-space: nowrap

      .bubble
        width: 24px
        height: 7px
        background-color: red
        display: block
        float: left
        position: relative
        top: 7px
        border-radius: 4px
        margin: 0 10px 0 0
        opacity: 0.7

      .bubble-default
        background-color: rgba(243, 85, 46, 1)
      .bubble-lorem
        background-color: rgba(136, 195, 58, 1)
      .bubble-ipsum
        background-color: rgba(67, 106, 224, 1)
      .bubble-dolor
        background-color: rgba(244, 210, 52, 1)
      .bubble-set
        background-color: rgba(112, 125, 134, 1)
