#box
  #box-inner
    %h1
      Timesheet<span>.js</span>
    %p Visualize events with pure <span>HTML5 and CSS3</span>. Create responsive time sheets with sneaky JavaScript. Generated based on HTML structure or just plain text.

    #timesheet

    %p Just include Timesheet.js and configure your data. No external dependencies, <span>no jQuery</span> needed and <span>no Angular.JS</span> as well! Just pure JavaScript generation, beautiful HTML5 layout and some realy delicious CSS3.

    %code
      %pre
        :escaped
          <script src="/javascripts/timesheet.js" type="text/javascript">

    %p Create your HTML structure. Or prepare your data in plain text or easily create Timesheets with pure JavaScripts

    %code
      %pre
        :escaped
          <ul><li></li></ul>

    %p Lorem ipsum dolor sit amet.
