#box
  #box-inner
    %h1
      Timesheet<span>.js</span>
    %p Visualize your data and events with sexy <span>HTML5</span> and <span>CSS3</span>. Create simple time sheets with sneaky JavaScript. Style them with CSS and have mobile fun as well …

    #timesheet-default

    %p Just include Timesheet.js and configure your data. No external dependencies, no jQuery needed and of course no Angular.JS! Just a few lines JavaScript to generate a beautiful HTML5 layout and some really delicious CSS to be customized by almighty you.

    %code
      %pre
        = preserve do
          :escaped
            <script src="/javascripts/timesheet.js" type="text/javascript" />

    %p Create a simple time sheet based on a JS array of events:

    %code
      %pre
        = preserve do
          :escaped
            new Timesheet('timesheet-default', 2002, 2013, [
              ['2002', '09/2002', 'A freaking awesome time', 'lorem'],
              ['06/2002', '09/2003', 'Some great memories', 'ipsum'],
              ['2003', 'Had very bad luck'],
              ['10/2003', '2006', 'At least had fun', 'dolor'],
              ['02/2005', '05/2006', 'Enjoyed those times as well', 'ipsum'],
              ['07/2005', '09/2005', 'Bad luck again', 'default'],
              ['10/2005', '2008', 'For a long time nothing happened', 'dolor'],
              ['01/2008', '05/2009', 'LOST Season #4', 'lorem'],
              ['01/2009', '05/2009', 'LOST Season #4', 'lorem'],
              ['02/2010', '05/2010', 'LOST Season #5', 'lorem'],
              ['09/2008', '06/2010', 'FRINGE #1 & #2', 'ipsum']
            ]);

    %p It's that simple to use <span>Timesheet.js</span>. So, have a nice day, thank you for smoking and maybe try using Timesheet.js with custom styles …

    %p.footer Timesheet.js is licensed under <a href="https://github.com/sbstjn/timesheet.js/blob/master/LICENSE.md">MIT License</a><br />Cheers to <a href="https://twitter.com/cheeaun">Cheeaun</a> and <a href="https://twitter.com/igrigorik/">Ilya</a><br /><br /><br /><span><a href="http://S11K.com">❤</a></span><br /><br /><a href="#dark" id="switch-dark">dark</a> | <a href="#light" id="switch-light">light</a>
